<%= form_for @survey, :html => { :class => "form-horizontal survey" } do |f| %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><strong>Name</strong></th>
        <th><strong>Location</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Registration</strong></th>
      </tr>
    </thead>
    <tbody>
      <% @survey.participants.each do |participant| %>
        <tr>
          <td><%= participant.user.name %></td>
          <td><%= participant.user.location %></td>
          <td><%= participant.user.email %></td>
          <td><%= participant.user.registration %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
